* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

main {
  width: 100%;
  max-width: 1440px;
}

.header {
  margin-bottom: 4rem;
}

.header img {
  width: 180px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.leftSide {
  width: 55%;
}

.leftSide img {
  width: 100%;
}

.rightSide {
  width: 45%;
  padding-left: 1rem;
}

.rightSide h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.rightSide p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.rightSide button {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  border: none;
  border-radius: 2rem;
  padding: 1rem 4rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(257, 40%, 49%);
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.rightSide button:hover {
  background-color: hsl(300, 69%, 71%);
  color: #fff;
}

.socialLinks {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
}

.socialLinks ul {
  list-style: none;
  display: flex;
}

.socialLinks li {
  margin-left: 1rem;
}

.socialLinks a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.socialLinks a:hover {
  color: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}

footer {
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
  padding-top: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: hsl(300, 69%, 71%);
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
    background-position: top center;
    padding: 2rem;
    justify-content: flex-start;
  }

  .header {
    margin-bottom: 3.5rem;
  }

  .header img {
    width: 150px;
  }

  .content {
    flex-direction: column;
    text-align: center;
  }

  .leftSide {
    width: 100%;
  }

  .rightSide {
    width: 100%;
    padding-left: 0;
    align-items: center;
  }

  .rightSide h1 {
    font-size: 1.8rem;
  }

  .rightSide p {
    font-size: 1rem;
  }

  .rightSide button {
    padding: 0.8rem 5rem;
  }

  .socialLinks {
    justify-content: center;
    margin-top: 3rem;
  }

  .socialLinks li {
    margin: 0 0.5rem;
  }

  footer {
    margin-top: 2rem;
  }
}